input[type="submit"] {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 5px 30px;
  border-radius: 30px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: #000;
  color: #fff;
}

.card {
  padding: 40px;
  width: 400%;
  height: 90%;
  max-width: 500px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

form{
    margin-bottom: 40%;
}